.app-container {
  background-color: #1a0000; /* Koyu bordo */
  min-height: 100vh;
  padding: 20px;
  color: white;
}

.title {
  font-size: 3rem;
  color: red;
  text-align: center;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff4d4d;
  animation: glow 2s infinite alternate;
  margin-bottom: 20px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ff0000;
  }
  to {
    text-shadow: 0 0 20px #ff0000, 0 0 30px #ff4d4d;
  }
}
